title{
	font-family: arial rounded, sans-serif;
	font-size: 14px;
	text-align: top;
}

h1 {
	font-family: ariel rounded, sans-serif;
	font-size: 25px;
	text-align: top;
}

body{
    background-image: url("inuit.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


footer{
	text-align: right;
	position: absolute;
	bottom: 5%;
	right: 5%;
}