title{
	font-family: arial rounded, sans-serif;
	font-size: 14px;
	text-align: top;
}

body{
    background-image: url("corn.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button {
    display: inline-block;
    cursor: pointer;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position:relative;
    top: 13%;
    left: 85%;
 	text-align: center;
    text-decoration: none;
  	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px yellow;
}

.button:hover {background-color: #3e8e41}

.button:active {
   background-color: red;
   box-shadow: 0 5px #900000;
   transform: translateY(4px);
}

h2 {
	font-size: 40px;
	font-family: arial rounded, sans-serif;
	position: absolute;
	top:0%;
	left: 5%;
}

ul {
	text-align: center;
}

li.nav {
	margin:20px;
	padding:16px;
	font-family: arial rounded, sans-serif;
	font-size: 30px;
	border-right: 2px solid yellow;
	border-left: 2px solid black;
	float:left;
	position: relative;
	left: 28%;
}

li.nav a{
	display: block;
	background-color:none;
	padding:14pt 16pt
	text-decoration:none;
}


.nav {
	list-style-type:none;
	text-align: center;
}


li.nav a:hover {
	background-color: red;
}

div.container4 {
    height: 40em;
    position: relative;
}

div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

p {
	font-family: arial rounded, sans-serif;
	font-size: 40px;
	text-align: center;
	color:black;
}

footer{
	text-align: right;
	position: absolute;
	bottom: 5%;
	right: 5%;
}



